<mat-toolbar color="primary">
  <mat-toolbar-row class="mainbar">
    <span>Driver Panel</span>
    <span *ngIf="loads >= 0">{{loads}} Loads</span>
    <button *ngIf="!operator" mat-raised-button (click)="openDialog()">Login</button>
    <button *ngIf="operator" mat-raised-button (click)="logoutOper()">Logout</button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="operator" class="mainbar">
    <span>{{operator}} workiing</span>
    <button mat-flat-button color="primary" (click)="newAssignment()">NEW ASSIGNMENT</button>
    <button mat-flat-button color="primary" (click)="arrive()">ARRIVE</button>
  </mat-toolbar-row>
</mat-toolbar>
<span></span>
<div class="progress">
  <mat-spinner *ngIf="spinIt"></mat-spinner>
  <span *ngIf="currentState == 1 && !spinIt" class="main-text">Go to shovel {{shovelSet}}</span>
  <span *ngIf="currentState == 2 && !spinIt" class="main-text">Arrived at {{shovelSet}}</span>
  <span *ngIf="currentState == 3 && !spinIt" class="main-text">Loading at {{shovelSet}}</span>
  <span *ngIf="currentState == 4 && !spinIt" class="main-text">Go to dump {{dumpSet}}</span>
  <span *ngIf="currentState == 5 && !spinIt" class="main-text">Arrived at {{dumpSet}}</span>
  <span *ngIf="currentState == 6 && !spinIt" class="main-text">Dumping at {{dumpSet}}</span>
</div>

<div>
  <mat-progress-bar *ngIf="(currentState == 3 || currentState == 6) && !spinIt" mode="indeterminate"></mat-progress-bar>
</div>